<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "RESTASSURED">
<test name="EmployeeProject">
<classes>
<class name = "testCases.TC001_GET_allEmployees"/>
<class name = "testCases.TC002_POST_getEmployeeData"/>
<class name = "testCases.TC003_POST_createEmployee"/>

</classes>



</test>

</suite>

